<div class="container">
  <h2>Reset your password here</h2>
  <form class="form-group width" #passwordResetForm="ngForm">
    <label for="password">New Password</label>
    <input class="form-control" type="password" name="password" placeholder="new password" [(ngModel)]="user.password" #password="ngModel" minlength="4" maxlength="16" required>
    <ng2-password-strength-bar *ngIf="!password.pristine" [passwordToCheck]="user.password" [barLabel]="barLabel"></ng2-password-strength-bar>
    <div class="danger" *ngIf="password.invalid && (password.touched || password.dirty)">
      <div *ngIf="password.errors.minlength">
        password must be 4-16 characters long
      </div>
    </div>
    <br>
    <button class="btn btn-info" type="submit" [disabled]="passwordResetForm.invalid" *ngIf="!submitting" (click)="reset()">Submit</button>
    <button class="btn btn-info" *ngIf="submitting">Submitting</button>
  </form>
</div>