<div class="container">
  <h2>Please provide email to proceed</h2>
  <form class="form-group width" #forgotPasswordForm="ngForm">
    <label for="email">Email</label>
    <input class="form-control" type="email" name="email" placeholder="email" [(ngModel)]="user.email" #email="ngModel" email>
    <div *ngIf="email.invalid && (email.touched || email.dirty)">
      <div class="danger" *ngIf="email.errors.email">
        not an valid email
      </div>
    </div>
    <br>
    <button class="btn btn-primary" [disabled]="forgotPasswordForm.invalid" *ngIf="!submitting" (click)="forgot()">submit</button>
    <button class="btn btn-info" *ngIf="submitting">submitting</button>
  </form>
</div>