<div class="container" *ngIf='!showResult'>
  <form class="form-group width">
    <label for="bloodgroup">Blood Group</label>
    <select class="form-control" name="bloodgroup">
      <option value="">Choose Bloodgroup</option>
      <option value="A+">A+</option>
      <option value="A-">A-</option>
      <option value="B+">B+</option>
      <option value="B-">B-</option>
      <option value="AB+">AB+</option>
      <option value="AB-">AB-</option>
      <option value="O+">O+</option>
      <option value="O-">O-</option>
    </select>
  </form>
  <button class="btn btn-primary" *ngIf="!searching" (click)="search()">Search</button>
  <button class="btn btn-info" *ngIf="searching">Searching</button>
</div>